<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        #dashboard-data {
            max-width: 800px;
            margin: 20px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        p {
            font-size: 16px;
            margin: 10px 0;
            color: #555;
        }

        h3 {
            margin-top: 20px;
            font-size: 20px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 14px;
            color: #555;
        }

        li:nth-child(even) {
            background-color: #f1f1f1;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4ba8ff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #4ba8ff;
        }

        select {
            width: 150px;
            /* Set the width to your desired value */
            height: 35px;
            /* Set the height to your desired value */
            padding: 5px;
            font-size: 14px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #fff;
            color: #333;
            appearance: none;
            /* To remove the default dropdown arrow in some browsers */
        }



        select:focus {
            border-color: #007bff;
            /* Highlight the border color when focused */
        }

        @media (max-width: 600px) {
            #dashboard-data {
                padding: 15px;
            }

            h1 {
                font-size: 20px;
            }

            p,
            li {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <div id="dashboard-data">
        <% if (admin) { %>
            <p>Welcome, <strong>
                    <%= admin.fullName %>
                </strong>!</p>
            <p>Username: <%= admin.userName %>
            </p>
            <p>Email: <%= admin.emailAddress %>
            </p>
            <button id="logout-btn">Log Out</button>

            <h3>Total Technicians by Profession</h3>
            <ul id="total-profession-count-list"></ul>

            <h3>Top 10 Highest Rated Technicians</h3>
            <ul id="top-technicians-list"></ul>

            <h3>Technician Count by Profession</h3>
            <form id="filter-form" method="get" action="/api/technicians/count-by-profession">
                <label for="area">Area:</label>
                <select id="mainArea" name="area" required>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Chittagong">Chittagong</option>
                    <option value="Rajshahi">Rajshahi</option>
                    <option value="Faridpur">Faridpur</option>
                    <option value="Gazipur">Gazipur</option>
                    <option value="Gopalganj">Gopalganj</option>
                    <option value="Kishoreganj">Kishoreganj</option>
                    <option value="Madaripur">Madaripur</option>
                    <option value="Manikganj">Manikganj</option>
                    <option value="Munshiganj">Munshiganj</option>
                    <option value="Narayanganj">Narayanganj</option>
                    <option value="Narsingdi">Narsingdi</option>
                    <option value="Rajbari">Rajbari</option>
                    <option value="Shariatpur">Shariatpur</option>
                    <option value="Tangail">Tangail</option>
                    <option value="Bogura">Bogura</option>
                    <option value="Joypurhat">Joypurhat</option>
                    <option value="Naogaon">Naogaon</option>
                    <option value="Natore">Natore</option>
                    <option value="Chapai Nawabganj">Chapai Nawabganj</option>
                    <option value="Pabna">Pabna</option>
                    <option value="Sirajganj">Sirajganj</option>
                    <option value="Bagerhat">Bagerhat</option>
                    <option value="Chuadanga">Chuadanga</option>
                    <option value="Jashore">Jashore</option>
                    <option value="Jhenaidah">Jhenaidah</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Kushtia">Kushtia</option>
                    <option value="Magura">Magura</option>
                    <option value="Meherpur">Meherpur</option>
                    <option value="Narail">Narail</option>
                    <option value="Satkhira">Satkhira</option>
                    <option value="Jamalpur">Jamalpur</option>
                    <option value="Mymensingh">Mymensingh</option>
                    <option value="Netrokona">Netrokona</option>
                    <option value="Sherpur">Sherpur</option>
                    <option value="Bandarban">Bandarban</option>
                    <option value="Brahmanbaria">Brahmanbaria</option>
                    <option value="Chandpur">Chandpur</option>
                    <option value="Comilla">Comilla</option>
                    <option value="Cox's Bazar">Cox's Bazar</option>
                    <option value="Feni">Feni</option>
                    <option value="Khagracchari">Khagracchari</option>
                    <option value="Lakshmipur">Lakshmipur</option>
                    <option value="Noakhali">Noakhali</option>
                    <option value="Rangamati">Rangamati</option>
                    <option value="Dinajpur">Dinajpur</option>
                    <option value="Gaibandha">Gaibandha</option>
                    <option value="Kurigram">Kurigram</option>
                    <option value="Lalmonirhat">Lalmonirhat</option>
                    <option value="Nilphamari">Nilphamari</option>
                    <option value="Panchagarh">Panchagarh</option>
                    <option value="Rangpur">Rangpur</option>
                    <option value="Thakurgaon">Thakurgaon</option>
                    <option value="Habiganj">Habiganj</option>
                    <option value="Moulvibazar">Moulvibazar</option>
                    <option value="Sunamganj">Sunamganj</option>
                    <option value="Sylhet">Sylhet</option>
                    <option value="Barguna">Barguna</option>
                    <option value="Barishal">Barishal</option>
                    <option value="Bhola">Bhola</option>
                    <option value="Jhalokati">Jhalokati</option>
                    <option value="Patuakhali">Patuakhali</option>
                    <option value="Pirojpur">Pirojpur</option>
                </select>

                <label for="sub-area">Sub-Area:</label>
                <select id="subArea" name="subArea" required>
                </select>

                <button type="submit">Get Counts</button>
            </form>
            <ul id="profession-count-list"></ul>

            <h3>Find Technicians by Profession, Area, and Sub-Area</h3>
            <form id="technician-filter-form" method="get" action="/api/technicians/filter">
                <label for="profession">Profession:</label>
                <select id="profession" name="profession" required>
                    <option value="Electrician">Electrician</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Appliance Repair Technician">Appliance Repair Technician</option>
                    <option value="Locksmith">Locksmith</option>
                    <option value="Carpenter">Carpenter</option>
                    <option value="Roofing Contractor">Roofing Contractor</option>
                    <option value="Broadband Service Provider">Broadband Service Provider</option>
                    <option value="Interior Designer">Interior Designer</option>
                    <option value="General Handyman">General Handyman</option>
                    <option value="HVAC">HVAC</option>
                </select>

                <label for="area">Area:</label>
                <select id="Area" name="area" required>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Chittagong">Chittagong</option>
                    <option value="Rajshahi">Rajshahi</option>
                    <option value="Faridpur">Faridpur</option>
                    <option value="Gazipur">Gazipur</option>
                    <option value="Gopalganj">Gopalganj</option>
                    <option value="Kishoreganj">Kishoreganj</option>
                    <option value="Madaripur">Madaripur</option>
                    <option value="Manikganj">Manikganj</option>
                    <option value="Munshiganj">Munshiganj</option>
                    <option value="Narayanganj">Narayanganj</option>
                    <option value="Narsingdi">Narsingdi</option>
                    <option value="Rajbari">Rajbari</option>
                    <option value="Shariatpur">Shariatpur</option>
                    <option value="Tangail">Tangail</option>
                    <option value="Bogura">Bogura</option>
                    <option value="Joypurhat">Joypurhat</option>
                    <option value="Naogaon">Naogaon</option>
                    <option value="Natore">Natore</option>
                    <option value="Chapai Nawabganj">Chapai Nawabganj</option>
                    <option value="Pabna">Pabna</option>
                    <option value="Sirajganj">Sirajganj</option>
                    <option value="Bagerhat">Bagerhat</option>
                    <option value="Chuadanga">Chuadanga</option>
                    <option value="Jashore">Jashore</option>
                    <option value="Jhenaidah">Jhenaidah</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Kushtia">Kushtia</option>
                    <option value="Magura">Magura</option>
                    <option value="Meherpur">Meherpur</option>
                    <option value="Narail">Narail</option>
                    <option value="Satkhira">Satkhira</option>
                    <option value="Jamalpur">Jamalpur</option>
                    <option value="Mymensingh">Mymensingh</option>
                    <option value="Netrokona">Netrokona</option>
                    <option value="Sherpur">Sherpur</option>
                    <option value="Bandarban">Bandarban</option>
                    <option value="Brahmanbaria">Brahmanbaria</option>
                    <option value="Chandpur">Chandpur</option>
                    <option value="Comilla">Comilla</option>
                    <option value="Cox's Bazar">Cox's Bazar</option>
                    <option value="Feni">Feni</option>
                    <option value="Khagracchari">Khagracchari</option>
                    <option value="Lakshmipur">Lakshmipur</option>
                    <option value="Noakhali">Noakhali</option>
                    <option value="Rangamati">Rangamati</option>
                    <option value="Dinajpur">Dinajpur</option>
                    <option value="Gaibandha">Gaibandha</option>
                    <option value="Kurigram">Kurigram</option>
                    <option value="Lalmonirhat">Lalmonirhat</option>
                    <option value="Nilphamari">Nilphamari</option>
                    <option value="Panchagarh">Panchagarh</option>
                    <option value="Rangpur">Rangpur</option>
                    <option value="Thakurgaon">Thakurgaon</option>
                    <option value="Habiganj">Habiganj</option>
                    <option value="Moulvibazar">Moulvibazar</option>
                    <option value="Sunamganj">Sunamganj</option>
                    <option value="Sylhet">Sylhet</option>
                    <option value="Barguna">Barguna</option>
                    <option value="Barishal">Barishal</option>
                    <option value="Bhola">Bhola</option>
                    <option value="Jhalokati">Jhalokati</option>
                    <option value="Patuakhali">Patuakhali</option>
                    <option value="Pirojpur">Pirojpur</option>
                </select>

                <label for="subArea">Sub-Area:</label>
                <select id="sub-Area" name="subArea" required>
                </select>

                <button type="submit">Search</button>
            </form>
            <ul id="filtered-technicians-list"></ul>

            <h1>Manage Services</h1>
            <div id="service-management">
                <input type="text" id="new-service" placeholder="Enter new service">
                <button onclick="addService()">Add Service</button>
            </div>
            <ul id="service-list">
                <!-- Services will be dynamically listed here -->
            </ul>

            <h3>Users</h3>
            <ul id="users-list"></ul>

            <h3>Technicians</h3>
            <ul id="technicians-list"></ul>
            <% } else { %>
                <p>You are not authorized to view this page. Please <a href="/admin/login">log in</a>.</p>
                <% } %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('You must log in first.');
                window.location.href = '/admin/login';
            }
            const logoutBtn = document.getElementById('logout-btn');
            if (logoutBtn) {
                logoutBtn.addEventListener('click', () => {
                    // Remove the token from localStorage
                    localStorage.removeItem('token');
                    alert('Logged out successfully!');
                    window.location.href = '/admin/login';
                });
            }

            try {
                const usersResponse = await fetch('/api/users');
                const users = await usersResponse.json();
                const usersList = document.getElementById('users-list');
                users.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = `${user.fullName} (${user.userName}) - ${user.emailAddress}`;
                    usersList.appendChild(li);
                });
            } catch (error) {
                console.error('Error fetching users:', error);
            }

            // Fetch and display technicians
            try {
                const techniciansResponse = await fetch('/api/technicians');
                const technicians = await techniciansResponse.json();
                const techniciansList = document.getElementById('technicians-list');
                technicians.forEach(technician => {
                    const li = document.createElement('li');
                    li.textContent = `${technician.fullName} (${technician.userName}) - ${technician.emailAddress} - ${technician.ratings}`;
                    techniciansList.appendChild(li);
                });
            } catch (error) {
                console.error('Error fetching technicians:', error);
            }

            try {
                const topTechniciansResponse = await fetch('/api/top-technicians');
                const topTechnicians = await topTechniciansResponse.json();
                const topTechniciansList = document.getElementById('top-technicians-list');
                topTechnicians.forEach(technician => {
                    const li = document.createElement('li');
                    li.textContent = `${technician.fullName} (${technician.userName}) - Rating: ${technician.ratings || 'No Ratings'}`;
                    topTechniciansList.appendChild(li);
                });
            } catch (error) {
                console.error('Error fetching top technicians:', error);
            }

            const filterForm = document.getElementById('filter-form');
            const professionCountList = document.getElementById('profession-count-list');

            const mainAreaDropdown = document.getElementById('mainArea');
            const subAreaDropdown = document.getElementById('subArea');

            const subAreas = {
                "Dhaka": ["Adabor", "Badda", "Bandar", "Bangshal", "Biman Bandar", "Cantonment", "Chawkbazar", "Dakshinkhan", "Darus Salam", "Demra", "Dhanmondi", "Gazipur Sadar", "Gendaria", "Gulshan", "Hazaribagh", "Jatrabari", "Kadamtali", "Kafrul", "Kalabagan", "Kamrangirchar", "Keraniganj", "Khilgaon", "Khilkhet", "Kotwali", "Lalbagh", "Mirpur-1", "Mirpur-10", "Mirpur-11", "Mirpur-11.5", "Mirpur-14", "Mirpur-2", "Mohammadpur", "Motijheel", "Narayanganj Sadar", "New Market [← Dhanmondi]", "Pallabi", "Paltan", "Ramna", "Rampura", "Sabujbagh", "Savar", "Shahbagh", "Sher-e-Bangla Nagar", "Shyampur", "Sutrapur", "Tejgaon", "Tejgaon Industrial Area", "Turag [← Uttara]", "Uttara"],
                "Chittagong": ["Anwara", "Banshkhali", "Boalkhali", "Chandanaish", "Fatikchhari", "Hathazari", "Lohagara", "Mirsharai", "Patiya", "Rangunia", "Raozan", "Sandwip", "Satkania", "Sitakunda", "Karnaphuli"],
                "Rajshahi": ["Bagha", "Bagmara", "Charghat", "Durgapur", "Godagari", "Mohanpur", "Paba", "Puthia", "Tanore", "Boalia", "Matihar", "Rajpara", "Shah Makdam", "Chandrima", "Katakhali", "Belpukur", "Airport", "Kashiadanga", "Kornohar", "Damkura"],
                "Faridpur": ["Alfadanga", "Bhanga", "Boalmari", "Charbhadrasan", "Faridpur Sadar", "Madhukhali", "Nagarkanda", "Sadarpur", "Saltha"],
                "Gazipur": ["Gazipur", "Kapasia", "Tongi", "Sripur", "Kaliganj", "Kaliakior"],
                "Gopalganj": ["Gopalganj", "Kashiani", "Kotalipara", "Muksudpur", "Tungipara"],
                "Kishoreganj": ["Kishoreganj Sadar", "Hossainpur", "Pakundia", "Katiadi", "Karimganj", "Tarail", "Itna", "Mithamoin", "Austagram", "Nikli", "Bajitpur", "Kuliarchar"],
                "Madaripur": ["Madaripur Sadar", "Kalkini", "Rajoir", "Shibchar", "Dasar"],
                "Manikganj": ["Ghior", "Daulatpur", "Manikganj Sadar", "Shibalaya", "Saturia", "Singair", "Harirampur"],
                "Munshiganj": ["Gazaria", "Tongibari", "Serajdikhan", "Lauhajong", "Sreenagar", "Munshiganj Sadar"],
                "Narayanganj": ["Narayanganj Sadar", "Bandor", "Rupganj", "Sonargaon", "Araihazar"],
                "Narsingdi": ["Belabo", "Monohardi", "Narshingdi Sadar", "Palash", "Raipura", "Shibpur"],
                "Rajbari": ["Baliakandi", "Goalanda", "Kalukhali", "Pangsha", "Rajbari Sadar", "Bhedarganj"],
                "Shariatpur": ["Damuddya", "Goshairhat", "Janjira", "Naria", "Shariatpur Sadar"],
                "Tangail": ["Basail", "Bhuapur", "Delduar", "Dhanbari", "Ghatail", "Gopalpur", "Kalihati", "Madhupur", "Mirzapur", "Nagarpur", "Shakhipur", "Tangail Sadar"],
                "Bogura": ["Adamdighi", "Bogura Sadar", "Dhunot", "Dhupchancia", "Gabtali", "Kahaloo", "Nandigram", "Sariakandi", "Shajahanpur", "Sherpur", "Shibganj", "Sonatala"],
                "Joypurhat": ["Akkelpur", "Joypurhat Sadar", "Kalai", "Khetlal", "Panchbibi"],
                "Naogaon": ["Atrai", "Badalgachi", "Dhamoirhat", "Manda", "Mohadevpur", "Naogaon-Sadar", "Niamatpur", "Patnitala", "Porsha", "Raninagar", "Shapahar"],
                "Natore": ["Bagatipara", "Baraigram", "Gurudaspur", "Lalpur", "Naldanga", "Natore Sadar", "Singra"],
                "Chapai Nawabganj": ["Bholahat", "Gomostapur", "Nachol", "Nawabganj Sadar", "Shibganj"],
                "Pabna": ["Atghoria", "Bera", "Bhangura", "Chatmohar", "Faridpur", "Ishwardi", "Pabna Sadar", "Santhia", "Sujanagar"],
                "Sirajganj": ["Belkuchi", "Chowhali", "Kamarkhand", "Kazipur", "Raiganj", "Shahzadpur", "Sirajganj-S", "Tarash", "Ullapara"],
                "Bagerhat": ["Bagerhat Sadar", "Chitalmari", "Fakirhat", "Kachua", "Mollahat", "Mongla", "Morrelganj", "Rampal", "Sharankhola"],
                "Chuadanga": ["Alamdanga", "Chuadanga Sadar", "Damurhuda", "Jibannagar"],
                "Jashore": ["Abhoynagar", "Bagherpara", "Chowgacha", "Jashore-S", "Jhikargacha", "Keshabpur", "Monirampur", "Sarsha"],
                "Jhenaidah": ["Harinakunda", "Jhenaidah Sadar", "Kaliganj", "Kotchandpur", "Moheshpur", "Shailkupa"],
                "Khulna": ["Batiaghata", "Dacope", "Dighalia", "Dumuria", "Koira", "Paikgacha", "Phultala", "Rupsa", "Terokhada"],
                "Kushtia": ["Bheramara", "Daulatpur", "Khoksha", "Kumarkhali", "Kushtia Sadar", "Mirpur"],
                "Magura": ["Magura-S", "Mohammadpur", "Salikha", "Sreepur"],
                "Meherpur": ["Gangni", "Meherpur Sadar", "Mujib Nagar"],
                "Narail": ["Kalia", "Lohagara", "Narail Sadar"],
                "Satkhira": ["Assasuni", "Debhata", "Kalaroa", "Kaliganj", "Satkhira-S", "Shyamnagar", "Tala"],
                "Jamalpur": ["Bakshiganj", "Dewanganj", "Islampur", "Jamalpur Sadar", "Madarganj", "Melendah", "Sarishabari"],
                "Mymensingh": ["Bhaluka", "Dhobaura", "Fulbaria", "Gaffargaon", "Gouripur", "Haluaghat", "Ishwarganj", "Muktagacha", "Mymensingh Sadar", "Nandail", "Phulpur", "Tarakanda", "Trishal"],
                "Netrokona": ["Atpara", "Barhatta", "Durgapur", "Kalmakanda", "Kendua", "Khaliajuri", "Madan", "Mohanganj", "Netrakona Sadar", "Purbadhala"],
                "Sherpur": ["Jhenaigati", "Nakla", "Nalitabari", "Sherpur-S", "Sreebordi"],
                "Bandarban": ["Alikadam", "Bandarban Sadar", "Lama", "Naikhyongchari", "Rowangchari", "Ruma", "Thanchi"],
                "Brahmanbaria": ["Akhaura", "Ashuganj", "Brahmanbaria Sadar", "Bancharampur", "Bijoynagar", "Kasba", "Nabinagar", "Nasirnagar", "Sarail"],
                "Chandpur": ["Chandpur Sadar", "Faridganj", "Haimchar", "Haziganj", "Kachua", "Matlab (Dakshin)", "Matlab (Uttar)", "Shahrasti"],
                "Comilla": ["Barura", "Brahmanpara", "Burichong", "Chandina", "Chouddagram", "Cumilla Sadar", "Cumilla Sadar Daksin", "Daudkandi", "Debidwar", "Homna", "Laksham", "Lalmai", "Meghna", "Monohorganj", "Muradnagar", "Nangalkot", "Titas"],
                "Cox's Bazar": ["Chakoria", "Cox'S Bazar Sadar", "Kutubdia", "Moheskhali", "Pekua", "Ramu", "Teknaf", "Ukhiya"],
                "Feni": ["Chhagalniya", "Daganbhuiyan", "Feni Sadar", "Fulgazi", "Porshuram", "Sonagazi"],
                "Khagracchari": ["Dighinala", "Guimara", "Khagrachari-S", "Laxmichari", "Mahalchari", "Manikchari", "Matiranga", "Panchari", "Ramgarh"],
                "Lakshmipur": ["Komol Nagar", "Lakshmipur Sadar", "Raipur", "Ramganj", "Ramgati"],
                "Noakhali": ["Begumganj", "Chatkhil", "Companiganj", "Hatiya", "Kabir Hat", "Noakhali Sadar", "Senbag", "Sonaimuri", "Subarna Char"],
                "Rangamati": ["Baghaichari", "Barkal", "Belaichari", "Juraichari", "Kaptai", "Kaukhali", "Langadu", "Nanniarchar", "Rajosthali", "Rangamati Sadar"],
                "Dinajpur": ["Birampur", "Birganj", "Birol", "Bochaganj", "Chirirbandar", "Dinajpur-S", "Fulbari", "Ghoraghat", "Hakimpur", "Kaharol", "Khanshama", "Nawabganj", "Parbatipur"],
                "Gaibandha": ["Fulchari", "Gaibandha Sadar", "Gobindaganj", "Palashbari", "Sadullapur", "Saghata", "Sundarganj"],
                "Kurigram": ["Bhurungamari", "Chilmari", "Fulbari", "Kurigram Sadar", "Nageswari", "Rajarhat", "Rajibpur", "Rowmari", "Ulipur"],
                "Lalmonirhat": ["Aditmari", "Hatibandha", "Kaliganj", "Lalmonirhat Sadar", "Patgram"],
                "Nilphamari": ["Dimla", "Domar", "Jaldhaka", "Kishoreganj", "Nilphamari Sadar", "Sayedpur"],
                "Panchagarh": ["Atwari", "Boda", "Debiganj", "Panchagarh Sadar", "Tetulia"],
                "Rangpur": ["Badarganj", "Gangachara", "Kaunia", "Mithapukur", "Pirgacha", "Pirganj", "Rangpur Sadar", "Taraganj"],
                "Thakurgaon": ["Baliadangi", "Haripur", "Pirganj", "Ranisankail", "Thakurgaon Sadar"],
                "Habiganj": ["Azmiriganj", "Bahubal", "Baniachong", "Chunarughat", "Habiganj Sadar", "Lakhai", "Madhabpur", "Nabiganj", "Sayestaganj"],
                "Moulvibazar": ["Barlekha", "Juri", "Kamalganj", "Kulaura", "Moulvibazar Sadar", "Rajnagar", "Sreemangal"],
                "Sunamganj": ["Biswamvarpur", "Chatak", "Dakhin Sunamganj", "Derai", "Dharmapasha", "Doarabazar", "Jagannathpur", "Jamalganj", "Sulla", "Sunamganj Sadar", "Tahirpur"],
                "Sylhet": ["Balaganj", "Beanibazar", "Biswanath", "Companiganj", "Dakshin Surma", "Fenchuganj", "Golapganj", "Gowainghat", "Jointiapur", "Kanaighat", "Osmaninagar", "Sylhet-S", "Zakiganj"],
                "Barguna": ["Amtali", "Bamna", "Barguna Sadar", "Betagi", "Patharghata", "Taltali"],
                "Barishal": ["Agailjhara", "Babuganj", "Bakerganj", "Banaripara", "Barishal-S", "Gouranadi", "Hizla", "Mehendiganj", "Muladi", "Uzirpur"],
                "Bhola": ["Bhola Sadar", "Borhanuddin", "Charfassion", "Daulatkhan", "Lalmohan", "Monpura", "Tazumuddin"],
                "Jhalokati": ["Jhalokathi Sadar", "Kathalia", "Nalchity", "Rajapur"],
                "Patuakhali": ["Bauphal", "Dashmina", "Dumki", "Galachipa", "Kalapara", "Mirjaganj", "Patuakhali Sadar", "Rangabali"],
                "Pirojpur": ["Bhandaria", "Kawkhali", "Mothbaria", "Nazirpur", "Nesarabad", "Pirojpur-S", "Zianagar"]
            };
            function populateSubAreas() {
                const selectedMainArea = mainAreaDropdown.value;
                subAreaDropdown.innerHTML = '';
                subAreas[selectedMainArea].forEach(subArea => {
                    const option = document.createElement('option');
                    option.textContent = subArea;
                    option.value = subArea;
                    subAreaDropdown.appendChild(option);
                });
            }
            mainAreaDropdown.addEventListener('change', populateSubAreas);

            populateSubAreas();


            filterForm.addEventListener('submit', async (e) => {
                e.preventDefault();

                const area = document.getElementById('mainArea').value;
                const subArea = document.getElementById('subArea').value;

                try {
                    const response = await fetch(`/api/technicians/count-by-profession?area=${area}&subArea=${subArea}`);
                    if (!response.ok) throw new Error('Failed to fetch data');

                    const counts = await response.json();

                    // Clear the list before adding new items
                    professionCountList.innerHTML = '';

                    if (counts.length === 0) {
                        professionCountList.innerHTML = '<li>No technicians found in this area and sub-area.</li>';
                    } else {
                        counts.forEach((item) => {
                            const li = document.createElement('li');
                            li.textContent = `${item.Profession}: ${item._count.Profession}`;
                            professionCountList.appendChild(li);
                        });
                    }
                } catch (error) {
                    console.error('Error fetching technician counts:', error);
                    professionCountList.innerHTML = '<li>Error fetching data. Please try again.</li>';
                }
            });

            function populateSubArea() {
                const selectedMainArea = mainArea.value;
                sub_Area.innerHTML = '';
                subAreas[selectedMainArea].forEach(subArea => {
                    const option = document.createElement('option');
                    option.textContent = subArea;
                    option.value = subArea;
                    sub_Area.appendChild(option);
                });
            }

            const mainArea = document.getElementById('Area');
            const sub_Area = document.getElementById('sub-Area');
            mainArea.addEventListener('change', populateSubArea);
            populateSubArea();
            document.getElementById('technician-filter-form').addEventListener('submit', async (e) => {
                e.preventDefault();

                const profession = document.getElementById('profession').value;
                const area = document.getElementById('Area').value;
                const subArea = document.getElementById('sub-Area').value;

                try {
                    const response = await fetch(`/api/technicians/filter?profession=${profession}&area=${area}&subArea=${subArea}`);
                    const techniciansList = document.getElementById('filtered-technicians-list');

                    // Clear previous results
                    techniciansList.innerHTML = '';

                    if (response.ok) {
                        const technicians = await response.json();

                        if (technicians.length === 0) {
                            techniciansList.innerHTML = '<li>No technicians found.</li>';
                        } else {
                            technicians.forEach((tech) => {
                                const li = document.createElement('li');
                                li.textContent = `${tech.fullName} (${tech.userName}) - ${tech.emailAddress} - Ratings: ${tech.ratings || 'No Ratings'}`;
                                techniciansList.appendChild(li);
                            });
                        }
                    } else {
                        const errorData = await response.json();
                        techniciansList.innerHTML = `<li>${errorData.message || 'Error fetching technicians.'}</li>`;
                    }
                } catch (error) {
                    console.error('Error fetching technicians:', error);
                    techniciansList.innerHTML = '<li>Error fetching technicians. Please try again.</li>';
                }
            });

            fetchServices();

            const totalProfessionCountList = document.getElementById('total-profession-count-list');

            async function fetchProfessionCounts() {
                try {
                    const response = await fetch('/api/technicians/count-by-professionall');
                    if (!response.ok) throw new Error('Failed to fetch profession counts');

                    const counts = await response.json();

                    // Clear the list before adding new items
                    totalProfessionCountList.innerHTML = '';

                    if (counts.length === 0) {
                        totalProfessionCountList.innerHTML = '<li>No technicians found.</li>';
                    } else {
                        counts.forEach((item) => {
                            const li = document.createElement('li');
                            li.textContent = `${item.Profession}: ${item._count.Profession}`;
                            totalProfessionCountList.appendChild(li);
                        });
                    }
                } catch (error) {
                    console.error('Error fetching profession counts:', error);
                    totalProfessionCountList.innerHTML = '<li>Error fetching data. Please try again.</li>';
                }
            }

            // Call the function on page load
            await fetchProfessionCounts();
        });
        function fetchServices() {
            fetch('/api/services')
                .then(response => response.json())
                .then(data => {
                    const serviceList = document.getElementById('service-list');
                    serviceList.innerHTML = '';
                    data.forEach(service => {
                        const li = document.createElement('li');
                        li.textContent = service;
                        const deleteBtn = document.createElement('button');
                        deleteBtn.textContent = 'Delete';
                        deleteBtn.onclick = () => deleteService(service);
                        li.appendChild(deleteBtn);
                        serviceList.appendChild(li);
                    });
                });
        }

        function addService() {
            const newService = document.getElementById('new-service').value;
            fetch('/api/services', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ service: newService })
            })
                .then(response => response.json())
                .then(() => {
                    fetchServices();
                    document.getElementById('new-service').value = '';
                });
        }

        function deleteService(service) {
            fetch(`/api/services/${service}`, { method: 'DELETE' })
                .then(() => fetchServices());
        }

    </script>
</body>

</html>